body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff8000;
}
/*header*/
.header{
    color: white;
    padding: 30px 15px;
    margin: 0 auto;
    border-bottom: 10px solid #E66000;
    background-color: #2e2e2e;
}
/*bBarra de Navegación*/
.navbar{
   /* width: 960px;
    height: 65px;
    background-color: #111;*/
    width: 100%;
    max-width: 960px;
    background-color: #111;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
}
ul{
    padding: 0;
    margin: 0;
   /* height: 45px;*/
    list-style: none;
    display: flex;
}
li{
   /* float: left;*/
    padding: 15px 10px;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s;
    /*border-right: 2px solid white;
    padding: 0 20px;
    font-size: 18px;*/
   
}
a:hover{
    background-color: #E66000;
    border-radius: 5px;
}
/*El contenido de la pagina*/
.cont {
    padding: 0;
    margin: 50px auto 0;
    width: 100%;
    max-width: 960px;
}
.contenido {
    margin: 0;
    padding: 10px;
    /*float: left;
    width: 938px;*/
    background-color: #fff;
    border: 1px solid #111;
}
/*justificar contenido*/
.justificar{
    text-align: justify;
}
.centrar {
    text-align: center;
}
.footer{
    background-color:#2e2e2e;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin: 0;
}

@media(max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: stretch;
    }
    ul{
        flex-direction: column;
        width: 100%;
    }
    li{
        text-align: center;
        width: 100%;
    }
    a{
        border-right: none;
    }
}